{% extends "bases/base.html" %}

{% block title %}OceanBlue • Estoque{% endblock %}

{% block body_class %}
min-h-screen flex flex-col
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/core/core.css') }}">
{% endblock %}

{% block content %}
{% set modulo_name = "Estoque" %}
{% include "componentes/header_subpages.html"%}

<main class="flex-1 max-w-5xl mx-auto w-full p-6 md:p-12">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <a href="/api/produtos/view" class="action-card">
            <div class="action-icon">
                <i data-lucide="plus-circle"></i>
            </div>
            <div>
                <h4 class="text-white font-bold">Novo Produto</h4>
                <p class="text-slate-400 text-sm">Cadastrar produto</p>
            </div>
        </a>

        <a href="/api/categorias/view" class="action-card">
            <div class="action-icon">
                <i data-lucide="layers"></i>
            </div>
            <div>
                <h4 class="text-white font-bold">Categorias</h4>
                <p class="text-slate-400 text-sm">Gerenciar categorias</p>
            </div>
        </a>

    </div>

</main>

{% endblock %}